@import "../../../lib/reset.css?bundle";
@import "../../../lib/properties.css?bundle";

body {
  font-family: var(--font-sans);
  width: 100vw;
  height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;
}

iframe {
  border: none;
}
